body{
  font-family:sans-serif;
  color: white;
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1f3757 0%, #131537 100%);
}

.container{
  width: 100vw;
  height: 100vh;
  
}

.header{
  display: flex;
  width: 45vw;
  height: 15vh;
  border: 1px solid white;
  border-radius: 7px;
  margin: auto;
  margin-top: 50px;
  justify-content: space-between;

}

.rps{
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.score{
  margin-right: 3%;

}